<!-- 订单详情 -->
<!-- 非特训营淘大 -->
<div class="edit-title">
    订单信息
</div>
<div class="list-group" style="padding-top:0">
    <div class="list-item">
        <div class="title">订单编号</div>
        <div class="info" ng-bind="orderModel.detail.order_no"></div>
    </div>
    <div class="list-item">
        <div class="title">合同对账</div>
        <div class="info" ng-bind="orderModel.detail.received_status | receivedStatus"></div>
    </div>
    <div class="list-item">
        <div class="title">订单状态</div>
        <div class="info" ng-bind="orderModel.detail.status | orderStatus2:orderModel.detail.refund_status"></div>
    </div>
    <div class="list-item">
        <div class="title">服务起止</div>
        <div class="info" ng-bind="orderModel.detail.service_start_time ? (orderModel.detail.service_start_time + ' 至 ' + orderModel.detail.service_end_time) : '-'"></div>
    </div>
    <div class="list-item">
        <div class="title">到单日期</div>
        <div class="info" ng-bind="orderModel.detail.received_date"></div>
    </div>
    <div class="list-item">
        <div class="title">签约类型</div>
        <div class="info" ng-bind="orderModel.detail.is_new == '0' ? '新签':'续签'"></div>
    </div>
    <div class="list-item">
        <div class="title">营收类型</div>
        <div class="info" ng-bind="orderModel.detail.income_type"></div>
    </div>
    <div class="list-item">
        <div class="title">订单金额</div>
        <div class="info" ng-bind="orderModel.detail.total_price | number:2"></div>
    </div>
    <div class="list-item">
        <div class="title">合同金额</div>
        <div class="info" ng-bind="orderModel.detail.order_price | number:2"></div>
    </div>
    <div class="list-item">
        <div class="title">订单类型</div>
        <div class="info" ng-bind="orderModel.detail.sale_type | saleTypeFilter"></div>
    </div>
    <div class="list-item">
        <div class="title">支付金额</div>
        <div class="info" ng-bind="orderModel.detail.total_received | number:2"></div>
    </div>
    <div class="list-item" ng-if="orderModel.detail.confirm_price">
        <div class="title">营收总额</div>
        <div class="info" ng-bind="orderModel.detail.confirm_price | number:2"></div>
    </div>
    <div class="list-item" ng-if="orderModel.detail.unconfirm_price">
        <div class="title">待营收</div>
        <div class="info" ng-bind="orderModel.detail.unconfirm_price | number:2"></div>
    </div>
    <div class="list-item">
        <div class="title">暂存款</div>
        <div class="info" ng-bind="orderModel.detail.temp_deposit_price | number:2"></div>
    </div>
    <div class="list-item">
        <div class="title">订单创建</div>
        <div class="info" ng-bind="orderModel.detail.sign_dept + '/'+ orderModel.detail.sign_user"></div>
    </div>
    <div class="list-item">
        <div class="title">订单归属</div>
        <div class="info" ng-bind="orderModel.detail.belong_dept + '/'+ orderModel.detail.belong_user">></div>
    </div>
</div>
<div class="edit-title">
    订单备注
</div>
<div class="list-group">
    <div class="list-item">
        <p ng-bind="orderModel.detail.remarks || '-'" style="word-break:break-all;white-space: pre-wrap;" class="txt-textarea">
             这里是备注信息
        </p>
    </div>
</div>
<div ng-if="orderModel.third_product_id != 10110 && orderModel.third_product_id != 10005" class="edit-title" ng-repeat-start="item in orderModel.detail.product">
    产品信息{{orderModel.detail.product.length > 1 ? '【'+($index+1)+'】' : ''}}
</div>
<div ng-if="orderModel.third_product_id != 10110 && orderModel.third_product_id != 10005" ng-repeat-end>
    <div class="list-group">
        <div class="list-item" ng-if="item.product_category">
            <div class="title">产品类目</div>
            <div class="info" ng-bind="item.product_category"></div>
        </div>
        <div class="list-item" ng-if="item.second_product_name">
            <div class="title">产品线</div>
            <div class="info" ng-bind="item.second_product_name"></div>
        </div>

        <div class="list-item">
            <div class="title">产品</div>
            <div class="info" ng-bind="item.third_product_name || item.product_name"></div>
        </div>
        <div class="list-item" ng-if="item.class_name || orderModel.second_product_id == 10000">
            <div class="title">合同班次</div>
            <div class="info" ng-bind="item.class_name"></div>
        </div>
        <div class="list-item" ng-if="item.account || orderModel.second_product_id == 10000">
            <div class="title">班主任</div>
            <div class="info" ng-bind="item.account"></div>
        </div>
        <div class="list-item">
            <div class="title">产品价格</div>
            <div class="info" ng-bind="item.discount_price || item.product_amount | number:2"></div>
        </div>
        <div class="list-item" ng-show="orderModel.second_product_id == 10013">
            <div class="title">产品数量</div>
            <div class="info" ng-bind="item.product_num"></div>
        </div>
        <div class="list-item" ng-if="item.authorize_account || orderModel.second_product_id == 10000">
            <div class="title">授权账号</div>
            <div class="info" ng-bind="item.authorize_account"></div>
        </div>
        <div class="list-item" ng-if="item.include.length > 0">
            <div class="inner-ctn">
                <div ng-repeat="child in item.include" ng-class="{'next-child':$index > 0}">
                    <div class="edit-title narrow-bottom" ng-bind="child.name">
                    </div>
                    <div class="list-group" ng-repeat="son in child.list">
                        <div class="list-item">
                            <div class="title">子产品</div>
                            <div class="info" ng-bind="son.product_name"></div>
                        </div>

                        <div class="list-item">
                            <div class="title">数量</div>
                            <div class="info" ng-bind="son.product_num"></div>
                        </div>
                        <div class=" list-item ">
                            <div class="title">子产品价格</div>
                            <div class="info" ng-bind="son.discount_price"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 孵化班 -->
<div ng-if="orderModel.third_product_id == 10110" class="edit-title" ng-repeat-start="item in orderModel.detail.product">
    产品信息{{orderModel.detail.product.length > 1 ? '【'+($index+1)+'】' : ''}}
</div>
<div ng-if="orderModel.third_product_id == 10110" ng-repeat-end>
    <div class="list-group">
        <div class="list-item" ng-if="item.second_product_name">
            <div class="title">产品线</div>
            <div class="info" ng-bind="item.second_product_name"></div>
        </div>

        <div class="list-item">
            <div class="title">产品</div>
            <div class="info" ng-bind="item.third_product_name || item.product_name"></div>
        </div>
        <!--产品信息里，所有价格都用discount_price，price_type只控制汉字描述-->
        <div class="list-item" ng-if="orderModel.detail.price_type == 1">
            <div class="title">标准价格</div>
            <div class="info" ng-bind="item.discount_price | number:2"></div>
        </div>
        <div class="list-item" ng-if="orderModel.detail.price_type == 2">
            <div class="title">优惠价格</div>
            <div class="info" ng-bind="item.discount_price | number:2"></div>
        </div>
        <div class="list-item">
            <div class="title">周期次数</div>
            <div class="info" ng-bind="item.product_num"></div>
        </div>
        <div class="list-item" ng-if="item.authorize_account || orderModel.second_product_id == 10000">
            <div class="title">授权账号</div>
            <div class="info" ng-bind="item.authorize_account"></div>
        </div>

    </div>
</div>
<!-- 研修班 -->
<div ng-if="orderModel.third_product_id == 10005" class="edit-title" ng-repeat-start="item in orderModel.detail.product">
    产品信息{{orderModel.detail.product.length > 1 ? '【'+($index+1)+'】' : ''}}
</div>
<div ng-if="orderModel.third_product_id == 10005" ng-repeat-end>
    <div class="list-group">

        <div class="list-item" ng-if="item.second_product_name">
            <div class="title">产品线</div>
            <div class="info" ng-bind="item.second_product_name"></div>
        </div>

        <div class="list-item">
            <div class="title">产品</div>
            <div class="info" ng-bind="item.third_product_name || item.product_name"></div>
        </div>
        <div class="list-item">
            <div class="title">助教</div>
            <div class="info" ng-bind="item.account"></div>
        </div>
        <!--产品信息里，所有价格都用discount_price，price_type只控制汉字描述-->
        <div class="list-item" ng-if="orderModel.detail.price_type == 1">
            <div class="title">标准价格</div>
            <div class="info" ng-bind="item.discount_price | number:2"></div>
        </div>
        <div class="list-item" ng-if="orderModel.detail.price_type == 2">
            <div class="title">优惠价格</div>
            <div class="info" ng-bind="item.discount_price | number:2"></div>
        </div>
        <div class="list-item" ng-if="item.authorize_account || orderModel.second_product_id == 10000">
            <div class="title">授权账号</div>
            <div class="info" ng-bind="item.authorize_account"></div>
        </div>

    </div>
</div>
<div class="edit-title">
    签约信息
</div>
<div class="list-group">
    <div class="list-item">
        <div class="title">签约方式</div>
        <div class="info" ng-bind="orderModel.detail.sign_type | signTypeFilter"></div>
    </div>
    <!--个人签约-->
    <div class="list-item" ng-if="orderModel.detail.sign_type == 1">
        <div class="title">签约人</div>
        <div class="info" ng-bind="orderModel.detail.sign_name"></div>
    </div>
    <div class="list-item" ng-if="orderModel.detail.sign_type == 1">
        <div class="title">身份证号</div>
        <div class="info" ng-bind="orderModel.detail.sign_card_id"></div>
    </div>
    <div class="list-item" ng-if="orderModel.detail.sign_type == 1">
        <div class="title">联系方式</div>
        <div class="info" ng-bind="orderModel.detail.sign_phone"></div>
    </div>
    <!--公司签约-->
    <div class="list-item" ng-if="orderModel.detail.sign_type == 2">
        <div class="title">授权签约人</div>
        <div class="info" ng-bind="orderModel.detail.sign_authorize"></div>
    </div>
    <div class="list-item" ng-if="orderModel.detail.sign_type == 2">
        <div class="title">公司名字</div>
        <div class="info" ng-bind="orderModel.detail.sign_company"></div>
    </div>
    <div class="list-item" ng-if="orderModel.detail.sign_type == 2">
        <div class="title">办公地址</div>
        <div class="info" ng-bind="orderModel.detail.sign_address"></div>
    </div>
    <div class="list-item" ng-if="orderModel.detail.sign_type == 2">
        <div class="title">联系方式</div>
        <div class="info" ng-bind="orderModel.detail.sign_phone"></div>
    </div>
</div>
<div class="edit-title">
    合同信息
</div>
<div class="list-group">
    <div class="list-item">
        <div class="title">电子合同</div>
        <div class="info">
            <a href="javascript:void(0)" ng-click="orderModel.methods.contract()">查看</a>
            <a ng-click="fileUp_M.show()">上传</a>
        </div>
    </div>
    <div class="list-item">
        <div class="title">合同类型</div>
        <div class="info" ng-bind="orderModel.detail.contract_type | constractTypeFilter"></div>
    </div>
    <div class="list-item">
        <div class="title">合同编号</div>
        <div class="info" ng-bind="orderModel.detail.contract_no || '-'"></div>
    </div>
    <!-- 非标合同特殊显示字段 -->
    <div class="list-item" style="min-height:90px;" ng-if="orderModel.detail.contract_type == 2">
        <div class="title">非标备注</div>
        <div class="info" ng-bind="orderModel.detail.nonstandard_remarks"></div>
    </div>
</div>
<div class="edit-title">
    操作记录
</div>
<div class="list-box-r" ng-if="orderModel.detail.log && orderModel.detail.log.length > 0">
    <div class="item-box " ng-repeat="item in orderModel.detail.log">
        <span class="item-l" ng-bind="item.operate_type == '11' ? customer :(item.account + '/' + item.department_name)">
        </span>
        <div class="item-r ">
            <span class="title" ng-bind="item.operate_type_text"></span>
            <span style="float:right" ng-bind="item.create_time"></span>
        </div>
    </div>
</div>
