<!-- 爱柚付款信息 -->
<!-- <table>
    <tr>
        <th colspan="2">
            <span class="icon-title"></span>付款信息</th>
    </tr>
    <tbody>
        <tr>
            <td>付款人</td>
            <td ng-bind="detailsWrap.data.pay_name || '-'"></td>
        </tr>
        <tr>
            <td>企业名称</td>
            <td ng-bind="detailsWrap.data.tax_title || '-'"></td>
        </tr>
        <tr>
            <td>企业税号</td>
            <td ng-bind="detailsWrap.data.tax_no || '-'"></td>
        </tr>
        <tr>
            <td>公司地址</td>
            <td ng-bind="detailsWrap.data.tax_address || '-'"></td>
        </tr>
        <tr>
            <td>公司电话</td>
            <td ng-bind="detailsWrap.data.tax_phone || '-'"></td>
        </tr>
        <tr>
            <td style="white-space: nowrap">公司银行账户</td>
            <td ng-bind="detailsWrap.data.tax_account || '-'"></td>
        </tr>
        <tr>
            <td>开户行</td>
            <td ng-bind="detailsWrap.data.tax_bank || '-'"></td>
        </tr>
    </tbody>
</table> -->
<div class="list-group right-detail">
    <p class="label-title">
        <span>
            <span class="icon-title"></span>付款信息
        </span>
    </p>
    <div class="list-item">
        <span class="title">付款人</span>
        <span class="info" ng-bind="detailsWrap.data.pay_name || '-'">
        </span>
    </div>
    <div class="list-item">
        <span class="title">企业名称</span>
        <span class="info" ng-bind="detailsWrap.data.tax_title || '-'">
        </span>
    </div>
    <div class="list-item">
        <span class="title">企业税号</span>
        <span class="info" ng-bind="detailsWrap.data.tax_no || '-'">
        </span>
    </div>
    <div class="list-item">
        <span class="title">公司地址</span>
        <span class="info" ng-bind="detailsWrap.data.tax_address || '-'">
        </span>
    </div>
    <div class="list-item">
        <span class="title">公司电话</span>
        <span class="info" ng-bind="detailsWrap.data.tax_phone || '-'">
        </span>
    </div>
    <div class="list-item">
        <span class="title">公司银行账户</span>
        <span class="info" ng-bind="detailsWrap.data.tax_account || '-'">
        </span>
    </div>
    <div class="list-item">
        <span class="title">开户行</span>
        <span class="info" ng-bind="detailsWrap.data.tax_bank || '-'">
        </span>
    </div>
</div>