<!--产品说明-->
<!-- <table>
    <tbody>
        <tr class="title">
            <th colspan="2">
                <span class="icon-title"></span>产品说明</th>
        </tr>
    </tbody>
</table>
<table class="table-detail-list">
    <tbody>
        <tr>
            <th style="color:#333;padding:10px;word-break:break-all;" ng-bind="detailsWrap.data.product_desc ? detailsWrap.data.product_desc :'—'"></th>
        </tr>
    </tbody>
</table> -->

<div class="list-group right-detail">
    <p class="label-title">
        <span>
            <span class="icon-title"></span>产品说明
        </span>
    </p>
    <div class="list-item auto-height">
        <div class="info">
            <pre ng-bind="detailsWrap.data.product_desc ? detailsWrap.data.product_desc :'—'"></pre>
        </div>
    </div>
</div>