 <div class="left-bottom-turnover">
                <div class="realTime-data">
                    <div class="num-box">
                        <span class="num" ng-bind='realTimeDate.totalOrder'></span><span class="text">单</span>
                    </div>
                    <div class="text-box">
                        <span class="icon1"></span><span class="text">今日成交</span>
                    </div>
                </div>
                <div class="realTime-data" style="margin-top:20px">
                    <div class="num-box">
                        <span  class="num" ng-bind='realTimeDate.totalnum'></span><span class="text">万</span>
                    </div>
                    <div class="text-box">
                        <span class="icon2"></span><span class="text">今日订单总额</span>
                    </div>
                </div>
</div>