<header>
    <div class="tab-bar">
        <button class="menu-btn-back" onclick="window.history.back()">
            <i class="icon-back"></i>
        </button>
        <span class="menu-tit">新建产品</span>
    </div>
</header>
<div class="cont-page-w">
    <div class="m-form-wrap add-edit-form">
        <div class="add-edit-title">
            <span class="icon-title"></span>基本信息
        </div>
        <div class="m-table-from">
            <div class="m-form-row add-error">
                <span class="table-name">一级产品类型</span>
                <span class="table-text">
                    <select ng-model="first_product" ng-options="firstProduct as firstProduct.product_category_name for firstProduct in productList"
                        ng-change="firstSelect()">
                        <option></option>
                    </select>
                    <label class="select-tip" ng-show="!first_product">点击选择</label>
                </span>
                <i class="table-clear" ng-click="clearList(1)"></i>
                <i class="table-red-error"></i>
            </div>
            <div class="m-form-row add-error">
                <span class="table-name">二级产品类型</span>
                <span class="table-text">
                    <select ng-model="second_product" ng-options="secondProduct as secondProduct.product_category_name for secondProduct in secondProductList"
                        ng-change="secondSelect()">
                        <option></option>
                    </select>
                    <label class="select-tip" ng-show="!second_product">点击选择</label>
                </span>
                <i class="table-clear" ng-click="clearList(2)"></i>
                <i class="table-red-error"></i>
            </div>
            <div class="m-form-row add-error">
                <span class="table-name">三级产品类型</span>
                <span class="table-text">
                    <select ng-model="third_product" ng-options="thirdProduct as thirdProduct.product_category_name for thirdProduct in thirdProductList">
                        <option></option>
                    </select>
                    <label class="select-tip" ng-show="!third_product">点击选择</label>
                </span>
                <i class="table-clear" ng-click="third_product = ''"></i>
                <i class="table-red-error"></i>
            </div>
            <div class="m-form-row add-error">
                <span class="table-name">产品名称</span>
                <span class="table-text">
                    <input type="text" name="" ng-model="product_name" placeholder="点击输入" maxlength="30">
                </span>
                <i class="table-clear" ng-click="product_name = ''"></i>
                <i class="table-red-error"></i>
            </div>
            <div class="m-form-row add-error">
                <span class="table-name">打单开关</span>
                <span class="table-text">
                    <select ng-model="product_switch" ng-options="salling.product_switch as salling.product_switch_name for salling in sallingList">
                        <option></option>
                    </select>
                    <label class="select-tip" ng-show="!product_switch">点击选择</label>
                </span>
                <i class="table-clear" ng-click="product_switch = ''"></i>
                <i class="table-red-error"></i>
            </div>
            <div class="m-form-row add-error" style="margin-top:10px;border-top:1px solid #f2f2f2">
                <span class="table-name">内容</span>
                <span class="table-text">
                    <a ng-click="editModal.show()">添加内容</a>
                </span>
                <i class="table-red-error"></i>
            </div>
            <div class="u-table-form">
                <table class="table-marging table-fixed" style="margin-top:0;">
                    <thead>
                        <tr>
                            <th class="text-center">内容类型</th>
                            <th class="text-center">内容名称</th>
                            <th class="text-center">数量</th>
                            <th class="text-center">单价</th>
                            <th class="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in contentList track by $index">
                            <td class="text-center" ng-bind="item.content_category"></td>
                            <td class="text-center" ng-bind="item.content_name"></td>
                            <td class="text-center">
                                <div>
                                    <button class="num-btn" ng-click="numDiscount(item.content_num, $index)">-</button>
                                    <input type="text" ng-model="item.content_num" class="num-input" maxlength="3" ng-keyup="replaceNum(item.content_num, $index)">
                                    <button class="num-btn" ng-click="numAdd(item.content_num,$index)">+</button>
                                </div>
                            </td>
                            <td class="text-center">
                                <input ng-model="item.content_price" class="price-input" ng-blur="addPrice(contentList)" ng-keyup="replacePrice(item.content_price, $index)"
                                />
                            </td>
                            <td class="text-center">
                                <a ng-click="delete(item,$index)">删除</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="m-form-row bg-gray">
                <span class="table-name">产品价格</span>
                <span class="table-text" ng-bind="all_price || 0"></span>
            </div>
        </div>
        <div class="add-edit-title">
            <span class="icon-title"></span>产品说明
        </div>
        <div class="m-table-form">
            <div class="m-textarea-box">
                <textarea class="u-table-textarea" ng-model="product_remarks" maxlength="200"></textarea>
                <span class="u-textarea-num">
                    <span>{{product_remarks.length ? product_remarks.length:0}}</span>/200
                </span>
            </div>
        </div>
    </div>
</div>
<!-- ng-if="editModal.isShow" -->
<div ng-if="editModal.isShow" style="display: block;" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="false">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-bigtwolist responseHeight">
        <div class="modal-content">
            <div class="modal-header">
                <div class="btn-close" data-dismiss="modal">
                    <i class="icon-close" ng-click="editModal.hide()"></i>
                </div>
                <h4 class="modal-title" ng-bind="editModal.title"></h4>
            </div>
            <div class="modal-body">
                <div class="search-wraps">
                    <div class="search-max-w">
                        <div class="form-group">
                            <label>内容名称:</label>
                            <div class="search-box">
                                <input type="text" id="content_name" ng-model="uiModel.filters.content_name" class="search-keyup-enter input-name-w" placeholder="点击输入">
                            </div>
                        </div>
                        <div class=" search-btn-wrap">
                            <button class="btn-search" ng-click="search()">搜索</button>
                            <!-- <button class="btn-reset" ng-click="reset()">清空</button> -->
                        </div>
                    </div>
                </div>
                <div class="table-ptop-w2">
                    <div class="table-foot">
                        <div pages2 class="page-right" page-index="page.page_no" page-size="page.pageSize" total="page.total" page-count="page.pageCount"
                            page-change="getContentList(pageIndex)"></div>
                    </div>
                    <table class="table-list table-fixed js-table" width="100%">
                        <thead>
                            <tr>
                                <th width="16">
                                    <input type="checkbox" ng-click="checkedModel.checkedAll($event,list)" ng-checked="list && checkedModel.checkedNum == list.length"
                                    />
                                </th>
                                <th class="text-center">内容类型</th>
                                <th class="text-center">内容名称</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="load-tips">
                                <td ng-show="!list || list.length === 0" colspan="3">
                                    <div class="loading-cont">
                                    </div>
                                    <div ng-show="!isAjaxError && !pageListLoading" class="load-tips-cont">没有你想要的数据</div>
                                    <div ng-show="isAjaxError && !pageListLoading" class="load-tips-cont">加载超时，点击
                                        <a ng-click="search()">重新加载</a>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-repeat='item in list track by $index'>
                                <td>
                                    <input type="checkbox" ng-click="checkedModel.checked($event,item,$index)" ng-checked="checkedModel.checkedListNow[$index].checked"
                                    />
                                </td>
                                <td class="text-center" ng-bind="item.content_category"></td>
                                <td class="text-center" ng-bind="item.content_name"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-cancel" ng-click="editModal.hide()">取消</button>
                <button class="btn btn-new-blue" ng-click="editModal.confirm()">完成</button>
            </div>
        </div>
    </div>
</div>
<div class="slide-footer">
    <button class="btn btn-cancel" onclick="window.history.back()">取消</button>
    <button class="btn btn-new-blue" ng-click="save()">完成</button>
</div>