<div class="c-detail-ctn extends-box has-footer">
    <div class="c-detail-ctn-top" style="height:201px;">
        <div class="table-area right-table">
            <table>
                <thead>
                    <tr>
                        <th width="16">序</th>
                        <th width="80">支付金额</th>
                        <th width="130">到账日期</th>
                        <th>对账状态</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="!https.billlist" ng-class="{'no-pointer':billModel.list.length == 1,'current':item.order_received_id == billModel.order_received_id}"
                        ng-repeat="item in billModel.list" ng-click="billModel.methods.changeBill(item.order_received_id)">
                        <td ng-bind="$index + 1"></td>
                        <td ng-bind="item.order_received_price | number:2"></td>
                        <td ng-bind="item.received_pay_date"></td>
                        <td ng-bind="item.order_received_status"></td>
                    </tr>
                    <tr class="no-pointer" ng-if="!https.billlist && billModel.list.length == 0">
                        <td colspan="4">
                            <div class="no-content">
                                <img src="images/kong.png">
                            </div>
                        </td>
                    </tr>
                    <tr class="no-pointer" ng-show="https.billlist">
                        <td colspan="4">
                            <div class="no-content">
                                <div class="ball-grid-pulse">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="slide-footer normal-footer">
            <button class="btn btn-new-blue" ng-if="authPermission.insertPay" ng-click="billModel.methods.createBill()" ng-class="{'btn-disabled': !orderModel.order_id || !billModel.button.insert}">新建支付</button>
        </div>
    </div>
    <div class="c-detail-ctn-bottom content rest-box" ng-if="billModel.list.length > 0">
        <p class="menu-title">支付详情</p>
        <div class="outer-ctn" ng-if="!https.billdetail && billModel.order_received_id != 0" style="background:#fff;">
            <p class="edit-title">支付对账</p>
            <div class="list-group right-detail" style="padding-top:0">
                <div class="list-item">
                    <p class="title">支付对账</p>
                    <p class="info" ng-bind="billModel.detail.order_received_status"></p>
                </div>
            </div>
            <p class="edit-title">
                支付信息
            </p>
            <div class="list-group">
                <div class="list-item">
                    <p class="title">支付编号</p>
                    <p class="info" ng-bind="billModel.detail.order_received_no"></p>
                </div>
                <div class="list-item">
                    <p class="title">支付方式</p>
                    <p class="info" ng-bind="billModel.detail.received_pay_way | paymentMethod"></p>

                </div>
                <div class="list-item">
                    <p class="title">支付金额</td>
                        <p class="info" ng-bind="billModel.detail.order_received_price | number:2"></p>
                </div>
                <div class="list-item" ng-if="billModel.detail.received_pay_way != 3">
                    <p class="title">付款人</p>
                    <p class="info" ng-bind="billModel.detail.received_pay_name"></p>
                </div>
                <div class="list-item" ng-if="billModel.detail.received_pay_way == 3">
                    <p class="title">交易号</p>
                    <p class="info" ng-bind="billModel.detail.received_trade_no"></p>
                </div>
                <div class="list-item">
                    <p class="title">支付时间</p>
                    <p class="info" ng-bind="billModel.detail.received_pay_dates || '-'"></p>
                </div>
            </div>
            <p class="edit-title">
                支付备注
            </p>
            <div class="list-group">
                <div class="list-item" style="height: auto;">
                    <p ng-bind="billModel.detail.received_remark || '-'" style="word-break:break-all;white-space: pre-wrap;" class="txt-textarea">
                        这里是备注信息
                    </p>
                </div>
            </div>
            <div class="list-box-r" ng-if="billModel.detail.log && billModel.detail.log.length > 0">
                <div class="item-box" ng-repeat="item in billModel.detail.log">
                    <span class="item-l" ng-bind="item.account">
                    </span>
                    <div class="item-r ">
                        <span class="title" ng-bind="item.operate_description"></span>
                        <span style="float:right" ng-bind="item.create_time"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="no-item" ng-if="https.billdetail">
            <div class="no-content">
                <div class="ball-grid-pulse">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="no-item bg-gray" ng-if="!https.billdetail && billModel.list.length == 0">
        <img src="images/kong.png">
    </div>
</div>
<div class="slide-footer normal-footer">
    <button class="btn btn-new-blue" ng-if="authPermission.deleteBill" ng-click="billModel.methods.showDeletePay()"
        ng-disabled="!authPermission.deleteBill ||  billModel.order_received_id == 0" ng-class="{'btn-disabled':  !authPermission.deleteBill ||  billModel.order_received_id == 0 || !billModel.detail.button.received_delete}">删除</button>
    <button class="btn btn-new-blue" ng-if="authPermission.editBill" ng-disabled="  !authPermission.editBill ||  billModel.order_received_id == 0"
        ng-class="{'btn-disabled':  !authPermission.editBill ||  billModel.order_received_id == 0 || !billModel.detail.button.received_update}"
        ng-click="billModel.editModal.show()">支付编辑</button>
    <button class="btn btn-new-blue" ng-if="authPermission.checkBill" ng-disabled=" !authPermission.checkBill ||  billModel.order_received_id == 0"
        ng-class="{'btn-disabled':  !authPermission.checkBill ||  billModel.order_received_id == 0 || !billModel.detail.button.received_verify }"
        ng-click="billModel.loadModal.checkBill()">对账</button>
</div>
<!-- 弹窗模块 -->
<!-- 支付编辑 -->
<div ng-if="billModel.editModal.flag" style="display: block;" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="false">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-sm responseHeight">
        <div class="modal-content">
            <div class="modal-header">
                <div class="btn-close" data-dismiss="modal">
                    <i class="icon-close" ng-click="billModel.editModal.hide()"></i>
                </div>
                <h4 class="modal-title" ng-bind="billModel.editModal.title">支付编辑</h4>
            </div>
            <div class="modal-body">
                <div class="m-form-wrap add-edit-form">
                    <p class="m-form-row ">
                        <span class="table-name">支付金额</span>
                        <span class="table-text">
                            <input type="text" ng-model="billModel.editModal.data.order_received_price" placeholder="点击输入">
                        </span>
                        <i class="table-clear" ng-click="billModel.editModal.data.order_received_price = ''"></i>
                    </p>
                    <p class="m-form-row " ng-if="billModel.detail.received_pay_way != 3">
                        <span class="table-name">付款人</span>
                        <span class="table-text">
                            <input type="text" ng-model="billModel.editModal.data.received_pay_name" placeholder="点击输入" maxlength="100">
                        </span>
                        <i class="table-clear" ng-click="billModel.editModal.data.received_pay_name = ''"></i>
                    </p>
                    <p class="m-form-row " ng-if="billModel.editModal.data.received_pay_way == 1 || billModel.editModal.data.received_pay_way == 3">
                        <span class="table-name">交易号</span>
                        <span class="table-text">
                            <input type="text" ng-model="billModel.editModal.data.received_trade_no" placeholder="点击输入" maxlength="50" ng-keyup="replaceNum(billModel.editModal.data, 'received_trade_no')">
                        </span>
                        <i class="table-clear" ng-click="billModel.editModal.data.received_trade_no = ''"></i>
                    </p>
                    <p class="m-form-row ">
                        <span class="table-name">到账日期</span>
                        <span class="table-text">
                            <input id="1" type="text" class="pointer" time-value="billModel.editModal.data.received_pay_date" ng-model="billModel.editModal.data.received_pay_date"
                                time-module placeholder="点击选择" style="width: 539px;" format="yyyy-MM-dd" readonly>
                        </span>
                        <i class="table-clear" ng-click="billModel.editModal.data.received_pay_date = ''"></i>
                    </p>
                    <p class="m-form-row " style="margin-top: 10px;">
                        <span class="table-name">备注</span>
                        <span class="table-text">
                            <textarea type="text" style="width: 538px;height:150px;margin:10px 0" ng-model="billModel.editModal.data.received_remark" name="remark"
                                placeholder="点击输入" class="textarea-content textarea-w"></textarea>
                        </span>
                    </p>
                </div>
            </div>
            <div class="modal-footer full-btn-box">
                <button type="button" class="btn btn-blue" style="width:100%" ng-click="billModel.editModal.confirm()">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- 对账弹窗 -->
<!-- 加载标识 -->
<div ng-if="billModel.loadModal.flag" style="display: block;" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="false">
    <div class="modal-backdrop fade in"></div>
    <div class="loading-bg">
        <div class="loading-title">对账中</div>
        <div class="loading-cont">
        </div>
    </div>
</div>
<!-- 对账失败弹窗 -->
<div ng-if="billModel.errorBill.flag" style="display: block;" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="false">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog modal-sm responseHeight">
        <div class="modal-content">
            <div class="modal-header">
                <div class="btn-close" data-dismiss="modal">
                    <i class="icon-close" ng-click="billModel.errorBill.hide()"></i>
                </div>
                <h4 class="modal-title" ng-bind="billModel.errorBill.title">对账失败</h4>
            </div>
            <div class="modal-body">
                <div class="form-wrap add-edit-form form-wrap-w-sm">
                    <p ng-if="billModel.errorBill.data.received_pay_way.value == 3">
                        <span class="table-name">交易号</span>
                        <span class="table-text" ng-bind="billModel.errorBill.data.received_trade_no.value" ng-class="{red: billModel.errorBill.data.received_trade_no.result == false}">
                        </span>
                    </p>
                    <p ng-if="billModel.errorBill.data.received_pay_way.value != 3">
                        <span class="table-name">付款人</span>
                        <span class="table-text" ng-bind="billModel.errorBill.data.received_pay_name.value" ng-class="{red: billModel.errorBill.data.received_pay_name.result == false}">
                        </span>
                    </p>
                    <p>
                        <span class="table-name">支付金额</span>
                        <span class="table-text" ng-class="{red: billModel.errorBill.data.order_received_price.result == false}" ng-bind="billModel.errorBill.data.order_received_price.value | number:2">
                        </span>
                    </p>
                    <p>
                        <span class="table-name">支付日期</span>
                        <span class="table-text" ng-class="{red: billModel.errorBill.data.received_pay_date.result == false}" ng-bind="billModel.errorBill.data.received_pay_date.value">
                        </span>
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-blue" style="width:100%" ng-click="billModel.errorBill.hide()">确定</button>
            </div>
        </div>
    </div>
</div>