@charset "utf-8";
// 颜色
$c-bg:#2673f2;
$c-bg-hover: #2c84f4;
$c-bg-active: #246df1;
$c-bg2:#f7f7f7; //modal-body背景色
$c-bg3:#f1f1f1; //header背景色
$c-bg4:#fff; //白色背景色
$c-green:#88B14B;
$c-red:red;
$c-grey:#798195;
$c-e6:#e6e6e6;
$c-e4:#e4e4e4;
// 字体大小
$f-size-base: 12px;
// 字体颜色
$c-font6:#666666;
$c-font3: #333;
$c-fontc:#ccc;
$c-font9:#999;
$c-fontf:#fff;
$c-font-e4:#e4e4e4;
$c-btn-s:#585E68;
$c-header-title:#171d24;
// border
$c-b1:#d7d7d7;
$c-b2:#f2f2f2;
$c-b3: #e4e4e4;
$c-b4:#d9d9d9;
$c-b5: #f5f5f5;
$c-b6: #ddd;
$c-b7:#d6dae5;
$c-b8:#88B14B; //绿色边框
$c-b9: #d5d5d5; // 标题左边border
$c-b10: #fbfbfb;
$c-b11: #eff2f7; // 详情table border
//p标签
$c-p1:656px;
// 特殊
// 跟进区块
$follow-green: #82b746;
$follow-red:#e81e1e;
//body左侧侧边栏 li背景色 侧边栏背景色
$m-menu-li: #4c5b6c;
$m-menu-bg: #212830;