@charset "UTF-8";
//此文件为模块样式
//统一设定皮肤变量
//皮肤模块skin.css
$header-color:   #0098ce; //header-color
$menu-color:     #293039; //menu-color
$current-color:  #0098cf; //当前选中
$logo-color:     #0086b6;
$header-border:  #0187b4;
$icon-color:     #48464b; //二级页面图标颜色
$input-color:    #00ccff;

$btn-color-blue:     #0099cc; //按钮颜色蓝色
$btn-color-gray:     #d7d7d7; //按钮颜色灰色

$font-color-gray:     #A6ADB6; //文字颜色灰色－搜索、分页
$font-color-balck:     #1E1E1E; //文字颜色黑色－搜索、灰色按钮