@charset "UTF-8";
//全局样式模块，统一引用此base;
//样式调用
@import "setting","reset";

/*不是使用-9999px hack使文本超出屏幕达到隐藏文本的目的，他的技术在隐藏文本的同时保留了文本在屏幕范围之内*/
.hide-text { text-indent: 100%; white-space: nowrap; overflow: hidden;}

/*字体图标-start*/
@font-face {
  font-family: 'iconfont';  /* project id 140737 */
  src: url('//at.alicdn.com/t/font_140737_k3hkepysd7f4j9k9.eot');
  src: url('//at.alicdn.com/t/font_140737_k3hkepysd7f4j9k9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_140737_k3hkepysd7f4j9k9.woff') format('woff'),
  url('//at.alicdn.com/t/font_140737_k3hkepysd7f4j9k9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_140737_k3hkepysd7f4j9k9.svg#iconfont') format('svg');
}

[class^="icon-"],[class*=" icon-"]{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;/*抗锯齿处理*/
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon-dengluzhanghaotubiao:before{content:"\e634"}/*用户名*/
.icon-login-name:before { content: "\e601";}/*用户名*/
.icon-icon-test:before {content:"\e61d"}/*登录密码*/
.icon-login-pw:before { content: "\e600";}/*密码*/
.icon-login-arrow:before { content: "\e602";}/*箭头*/

.icon-message:before { content: "\e613";}/*消息图标*/
.icon-download:before { content: "\e612";}/*下载图标*/

.icon-menu {
  display: inline-block;
  margin-top: 13px;
  width: 16px;
  height: 16px;
  background: url(../images/left-menu.png) 0 4px no-repeat;
}/*全部分类*/
.icon-finance:before { content: "\e604";}/*财务中心*/
.icon-sale:before { content: "\e615";}/*销售中心*/
.icon-operate:before { content: "\e618";}/*运营中心*/
.icon-admin:before { content: "\e60e";}/*平台管理*/
.icon-comunication{
  background: url(../images/left-menu.png) -2px -146px no-repeat;
} /*沟通计划*/
.icon-msg:before { content: "\e614";}/*消息中心*/
.icon-user:before {content: "\e609";}/*个人中心*/
.icon-train:before {content: "\e625";}/*培训平台*/

.icon-modifypw:before { content: "\e6fc";}/*修改密码*/

.icon-success:before { content: "\e605";}/*操作成功*/
.icon-failure:before { content: "\e606";}/*操作失败*/
.icon-error:before { content: "\e610";}/*网络异常*/
.icon-prompt:before { content: "\e610";}/*提示图标*/


.icon-duizhangguanli:before { content: "\e6ff"; }/*财务中心-对账管理*/
.icon-contractTemplate:before { content: "\e701"; }/*财务中心-订单对账管理*/
.icon-transactionLog:before { content: "\e702"; }/*财务中心-交易流水对账管理*/
.icon-invoice:before { content: "\e68c"; }/*财务中心-开票管理*/
.icon-refund:before { content: "\e6fe"; }/*财务中心-退款管理*/
.icon-refundsearch:before { content: "\e670"; }/*财务中心-退款查询*/
.icon-comfirmRevenue:before { content: "\e71e"; }/*财务管理-确认营收查询*/
.icon-noSalesConfirm:before { content: "\e71b"; }/*财务管理-未确认营收查询*/
.icon-productAllocate:before { content: "\e722"; }/*财务管理-产品分布*/
.icon-customerAllocate:before { content: "\e723"; }/*财务管理-客户分布*/
.icon-saleRate:before { content: "\e674"; }/*财务管理-销售额完成率*/
.icon-saleTarget:before { content: "\e675"; }/*财务管理-销售额完成率*/
.icon-saleTargetDown:before {content:"\e696"}/*财务管理-销售额完成率侧边栏下三角*/
.icon-saleTargetLeft:before {content:"\e697"}/*财务管理-销售额完成率侧边栏左三角*/

.icon-performance:before { content: "\e64f"; }/*财务中心-业绩*/
.icon-realIncome:before { content: "\e6f9"; }/*财务中心-确认营收统计*/
.icon-contractManagement:before { content: "\e6fa"; }/*财务中心-合同管理*/
.icon-rscx:before { content: "\e66b"; }/*财务中心-合同管理*/
.icon-fpgl:before { content: "\e671"; }  /*财务中心-发票管理*/
.icon-billManage:before { content: "\e703"; }  /*财务中心-开票管理*/
.icon-giveService:before { content: "\e692"; }  /*财务中心-赠送服务审批*/
.icon-cost:before { content: "\e67a"; }  /*财务中心-机构成本结算*/
.icon-writer:before { content: "\e68f"; }  /*财务中心-有墨写手结算*/


.icon-duizhangbbxz:before { content: "\e63d"; }/*对账报表下载*/
.icon-kxcx:before { content: "\e60d";}/*款项查询*/
.icon-bmkh:before { content: "\e705";}/*销售中心－部门客户*/
.icon-khgj:before { content: "\e61c";}/*销售中心－客户轨迹*/
.icon-htgl:before { content: "\e60b";}/*销售中心－合同管理*/
.icon-wdkh:before { content: "\e611";}/*销售中心－我的客户*/
.icon-khgl:before { content: "\e709";}/*销售中心－客户管理*/
.icon-ghgl:before { content: "\e649";}/*销售中心－公海管理*/
.icon-khgj:before { content: "\e709";}/*销售中心－客户轨迹*/
.icon-dzgl:before { content: "\e706";}/*销售中心－对账管理*/
.icon-ddgl:before { content: "\e707";}/*销售中心－订单管理*/
.icon-yxlxxj:before { content: "\e704";}/*销售中心－有效联系小计统计*/
.icon-gkqktj:before { content: "\e700";}/*销售中心－顾客情况统计*/
.icon-ghkh:before { content: "\e60a";}/*销售中心－公海客户*/
.icon-dzyc:before { content: "\e61b";}/*销售中心－对账异常*/
.icon-cjmb:before { content: "\e60c";}/*销售中心－创建模版*/
.icon-kehuqingkuangtongji:before { content: "\e637"; }/*销售中心－客户情况统计*/
.icon-youxiaolianxitongji:before { content: "\e638"; }/*销售中心－有效联系统计*/
.icon-jinqiliusi:before { content: "\e65c"; }/*销售中心－近期流失*/
.icon-ziyuanguanli:before { content: "\e639"; }/*销售中心－资源管理*/
.icon-daozhangguanli:before { content: "\e6c5"; }/*销售中心－到账管理*/
.icon-daodanguanli:before { content: "\e6c7"; }/*销售中心－到单管理*/
.icon-banciguanli:before { content: "\e6c4"; }/*销售中心－班次管理*/
.icon-shenpi:before {content:'\e64c';} /*审批*/
.icon-applycheck:before{content:'\e70c';}
.icon-applytax:before{content:'\e70b';}
.icon-applyrefund:before{content:'\e70a';}

.icon-shgl:before { content: "\e60f";}/*运营中心－审核管理*/
.icon-zxgl:before { content: "\e619";}/*运营中心－执行管理*/
.icon-kehutuikuan:before { content: "\e61e"; }/*运营中心－客户退款*/
.icon-tuikuanguanli:before { content: "\e6c3"; }/*运营中心－退款管理*/

.icon-yggl:before { content: "\e617";}/*员工管理*/
.icon-bmfz:before { content: "\e603";}/*部门分组*/


.icon-close:before { content: "\e658";color: #a8adb9}/*关闭*/
.icon-back:before { content: "\e620";}/*返回*/

.icon-qrsr:before {content: "\e61f";}/*确认收入*/
.icon-khtk:before {content: "\e61e";}/*客户退款*/


.icon-train:before { content: "\e625";}/*培训平台*/
.icon-lecturer:before { content: "\e623";}/*讲师管理*/
.icon-course:before { content: "\e624";}/*课程管理*/
.icon-class:before { content: "\e622";}/*班级管理*/

.icon-zhgl:before {content: "\e627";}/*平台管理－账号管理*/
.icon-jiaoseguanli:before {content: "\e659";}/*平台管理－角色管理*/
.icon-jiedianguanli:before{content:'\e65a'}/*平台管理-节点管理*/
.icon-zhanghuguanli:before{content:'\e65b'}/*平台管理-账户管理*/

.icon-zsgl:before { content: "\e630";}/*培训平台－证书管理*/
.icon-xygl:before { content: "\e62f";}/*培训平台－学员管理*/
.icon-rzsjgl:before { content: "\e62e";}/*培训平台－认证试卷管理*/
.icon-rzpjgl:before { content: "\e62d";}/*培训平台－认证批卷管理*/
.icon-pjgl:before { content: "\e62c";}/*培训平台－批卷管理*/
.icon-kcgl:before { content: "\e624";}/*培训平台－课程管理*/
.icon-jsgl:before { content: "\e623";}/*培训平台－讲师管理*/
.icon-bfgl:before { content: "\e629";}/*培训平台－播放管理*/
.icon-bjgl:before { content: "\e622";}/*培训平台－班级管理*/
.icon-tkgl:before {content: "\e6be"; }/*培训平台－题库管理*/

.icon-zhuanzhuguanli:before { content: "\e62a"; }/*企业培训－专业管理*/
.icon-zhangjieguanli:before { content: "\e62b"; }/*企业培训－章节管理*/
.icon-keshiguanli1:before { content: "\e632"; }/*企业培训－课时管理*/
.icon-qiyezhanghao:before { content: "\e635"; }/*企业培训－企业账号管理*/
.icon-zhanghaochaxun:before { content: "\e636"; }/*企业培训－账号查询*/

.icon-shangyi:before { content: "\e628"; }/*排序－上移*/
.icon-xiayi:before { content: "\e631"; }/*排序－下移*/

.icon-riskRefund:before { content: "\e724"};/* 退款审批 */
.icon-auditManage:before { content: "\e64d";};/*审批管理*/
.icon-carryOutManage:before { content: "\e656";}/*执行管理*/;
.icon-classManage:before { content: "\e645";};/*班次管理*/;
.icon-productManage:before { content: "\e657";};/*子产品管理*/;
.icon-imgExecuteManage:before { content: "\e64e";};/*图文执行管理*/;
.icon-realPlayManage:before { content: "\e653";};/*直播执行管理*/;
.icon-shortVideoManage:before { content: "\e646";};/*短视频执行管理*/;
.icon-institutionData:before { content: "\e647";};/*机构数据*/;
.icon-dingdanguanli1:before { content: "\e707";};/*订单管理*/;
.icon-kurongguanli1:before { content: "\e64a";};/*库容管理*/;
.icon-xinlaokehuguanli1:before { content: "\e652";};/*新老客户管理*/;
.icon-xiaoshouziyuanguanli1:before { content: "\e650";};/*销售资源管理*/;
.icon-yewuzhongxinkehuku1:before {content: "\e651";};/*业务中心客户库*/;
.icon-ziyuanzhongxinkehuku1:before { content: "\e655";};/*资源中心客户库*/;
.icon-gryj:before {content:"\e65d"};

.icon-panhuotongji:before { content: "\e65e";};/*团队管理--盘活统计*/;
.icon-xinjiandaodantongji:before { content: "\e660";};/*团队管理--新建到单统计*/;
.icon-xinzengkehutongji:before { content: "\e65f";};/*团队管理--新增客户统计*/;
.icon-gjjs::before{content:"\e661"}
.icon-xzgshddtj::before{content:"\e719"}/*团队管理--需资格审核订单统计*/;
.icon-xdzddtj::before{content:"\e718"}/*团队管理--需对账订单统计*/;
.icon-gjyxltj::before{content:"\e717"}/*团队管理--跟进有效率统计*/;
.icon-newGetOrderStatistics::before{content:"\e726"}/*团队管理--战报单数排名*/;
.icon-zbjepm::before{content:"\e715"}/*团队管理--战报金额排名*/;
.icon-zbmx::before{content:"\e716"}/*团队管理--战报明细*/;
.icon-krsylpm::before{content:"\e714"}/*团队管理--库容使用率排名*/;
.icon-lstj::before{content:"\e713"}/*团队管理--流失统计*/;
.icon-jqlstj::before{content:"\e712"}/*团队管理--近期流失统计*/;
.icon-xzrsks::before{content:"\e710"}/*团队管理--新增入司库数*/;
.icon-khfbqk::before{content:"\e711"}/*团队管理--客户分布情况*/;
.icon-gjrz::before{content:"\e662"}/*团队管理--轨迹日志*/;

.icon-tggl::before{content:"\e664"}/*风控中心--通告管理*/;
.icon-ktltj::before{content:"\e663"}/*团队管理--开通率统计*/;
.icon-tdgtjh::before{content:"\e71c"}/*团队管理--团队沟通计划*/;
.icon-csdtj::before{content:"\e71b"}/*团队管理--成熟度统计*/;
.icon-refundRiskMange::before{content:"\e677"}/*风控中心--退款风险查询*/;
.icon-standard::before{content:"\e678"}/*风控中心--标准合同模板管理*/;
.icon-paperFile::before{content:"\e683"}/*风控中心--合同协议管理*/;
.icon-paperMake::before{content:"\e687"}/*风控中心--协议制作管理*/;
.icon-removeXy::before{content:"\e67f"}/*风控中心--解除协议审批*/;
.icon-changeXy::before{content:"\e67c"}/*风控中心--补充协议审批*/;
.icon-paperXy::before{content:"\e686"}/*风控中心--协议制作审批*/;
.icon-contract::before{content:"\e67e"}/*风控中心--订单合同审批*/;


.icon-classVideoS::before{content:"\e725"}/*jyh管理--班次视频数据统计*/;
.icon-pjzdztj::before{content:"\e669"}/*jyh管理--平均诊断值统计*/;
.icon-jjfatj::before{content:"\e668"}/*jyh管理--解决方案统计*/;
.icon-bczdtj::before{content:"\e667"}/*jyh管理--班次诊断数统计*/;
.icon-bancirijundenglucishu::before{content:"\e66f"}/*jyh管理--班次日均*/;
.icon-yonghurijundenglucishu::before{content:"\e66e"}/*jyh管理--用户日均*/;
.icon-checked::before{content:"\e66a"}  /*复选框勾选*/

.icon-tkl::before{content:"\e66d"}/*财务管理--退款率*/;
.icon-outRulePrompt::before{content:"\e721"}/*系统中心-流出规则提示管理*//*字体图标-over*/
.icon-approveManagement::before{content:"\e672"}/*运营中心-客户执行管理*//*字体图标-over*/
.icon-productManagement::before{content:"\e673"}/*运营中心-产品管理*//*字体图标-over*/
//派发
.icon-anchorsManage::before{content:"\e694"}/*运营中心-主播管理*/
.icon-liveDistribution::before{content:"\e693"}/*运营中心-直播派发管理*/
.icon-liveSendCourierManage::before{content:"\e695"}/*运营中心- 直播寄件管理*/
.icon-liveTaskManage::before{content:"\e6f6"}/*运营中心- 直播执行管理*/

.icon-phoneManage::before{content:"\e676"}/*行政中心-话机管理*//*字体图标-over*/
.icon-logisticsUpload::before{content:"\e682"}/*行政中心-物流信息上传*//*字体图标-over*/
.icon-logisticList::before{content:"\e681"}/*行政中心-物流列表*//*字体图标-over*/

.icon-videoDistribution::before{content:"\e689"}/*运营中心-短视频派发管理*/
.icon-videoSendCourierManage::before{content:"\e68e"}/*运营中心- 短视频寄件管理*/
.icon-videoTaskManage::before{content:"\e646"}/*运营中心- 短视频执行管理*/

.icon-graphicDistribution::before{content:"\e691"}/*运营中心-图文派发管理*/
.icon-graphicTaskManage::before{content:"\e64e"}/*运营中心-图文执行管理*/

.icon-logistic::before{content:"\e68d"}/*运营中心-物流管理*/
.icon-channelManage::before{content:"\e68e"}/*运营中心-渠道管理*/
.icon-distributeManage::before{content:"\e68a"}/*运营中心-订单派发管理*/
.icon-feedbackManage::before{content:"\e68c"}/*运营中心-任务反馈管理*/
.hidden {
	display: none;
}

/* 有墨 */
.icon-fenpeiguanli::before{content:"\e679"}/*分配管理*/
.icon-zhanghaoguanli::before{content:"\e627"}/*账号管理*/
.icon-xieshouguanli::before{content:"\e684"}/*写手管理*/
.icon-xieshoujiesuanguanli::before{content:"\e685"}/*写手结算管理*/
.icon-neirongyunying::before{content:"\e680"}/*内容运营*/

/* 渠道运营 */
.icon-jigouguanli::before{content:"\e67b"}/* 机构管理 */
.icon-jigouchenbenjiesuan::before{content:"\e67a"}/* 机构成本结算 */
.icon-jigoushujushangchuan::before{content:"\e67d"}/* 机构数据上传 */

/*数字化营销*/
.icon-darenguanli::before{content:"\e697"}/* 机构数据上传 */
/*body左侧侧边栏icon*/
.icon-hr {
  background: url(../images/left-menu.png) 0px -86px no-repeat;
}

.icon-gropManage {
  background: url(../images/left-menu.png) 0px -186px no-repeat;
}

.icon-talentManege {
  background: url(../images/left-menu.png) 0px -108px no-repeat;
}

.icon-resource {
  background: url(../images/left-menu.png) -2px -49px no-repeat;
}

.icon-person {
  background: url(../images/left-menu.png) -2px -126px no-repeat;
}

.icon-setting {
  background: url(../images/left-menu.png) -2px -108px no-repeat;
}

.icon-finance1 {
  background: url(../images/left-menu.png) -2px -70px no-repeat;
}

.icon-yunying {
  background: url(../images/left-menu.png) -2px -31px no-repeat;
}

.icon-sale1 {
  background: url(../images/left-menu.png) -2px -12px no-repeat;
}

.icon-riskCenter {
  background: url(../images/left-menu.png) -2px -166px no-repeat;
}

.icon-cloudCollege {
  background: url(../images/left-menu.png) -2px -204px no-repeat;
}

.icon-jyhManagement {
  background: url(../images/left-menu.png) -2px -225px no-repeat;
}

.icon-OfficeCenter {
  background: url(../images/left-menu.png) -2px -126px no-repeat;
}

.icon-refundRate {
  background: url(../images/left-menu.png) -2px -242px no-repeat;
}

.icon-systemCenter {
  background: url(../images/left-menu.png) -2px -260px no-repeat;
}

.icon-youmo {
  background: url(../images/left-menu.png) -2px -296px no-repeat;
}

.icon-bd {
  background: url(../images/left-menu.png) -2px -278px no-repeat;
}
.icon-digitalMarketing {
  background: url(../images/left-menu.png) -2px -315px no-repeat;
}