<header>
    <div class="tab-bar">
        <button class="menu-btn-back" onclick='window.history.back()'>
            <i class="icon-back"></i>
        </button>
        <span class="menu-tit">修改密码</span>
    </div>
</header>
<div class="cont-page-w">
    <div class="modify-password form-wrap" ng-if="false">
        <p>
            <span class="table-name">会员账号</span>
            <span class="table-account" ng-bind="user.name"></span>
        </p>
        <p>
            <span class="table-name">修改密码</span>
            <span class="table-text">
                <input type="password" name="much" ng-model="password" autocomplete="off">
            </span>
        </p>
        <p>
            <span class="table-name">再次确认</span>
            <span class="table-text">
                <input type="password" name="much" ng-model="rePassword" autocomplete="off">
            </span>
        </p>
        <p class="btn-w">
            <span class="table-name"></span>
            <span class="table-text">
                <button type="button" class="btnxian btn-new-blue fl" ng-click="changePassword()">保存</button>
                <button type="button" class="btnxian btn-cancel btn-margin2" ng-click="cancel()">取消</button>
            </span>
        </p>
    </div>
    <div class="form-wrap m-form-wrap add-edit-form">

        <p class="m-form-row locked">
            <span class="table-name">会员账号</span>
            <span class="table-text">
                <span class="table-account" ng-bind="user.name"></span>
                <!-- <input type="text" ng-model="user.name" disabled> -->
            </span>
        </p>
        <p class="m-form-row">
            <span class="table-name">修改密码</span>
            <span class="table-text">
                <input type="password" ng-model="password">
            </span>
        </p>
        <p class="m-form-row">
            <span class="table-name">再次确认</span>
            <span class="table-text">
                <input type="password" ng-model="rePassword">
            </span>
        </p>
    </div>
</div>
<div class="slide-footer">
    <button class="btn btn-new-blue" ng-click="changePassword()">保 存</button>
    <button class="btn btn-cancel" ng-click="cancel()">取消</button>
</div>