@charset "UTF-8";
.g-login-box .g-login-right .u-btn-box .btn-login {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.g-login-box .g-login-right .u-login-wrap input {
  border: 1px solid #ccc;
  vertical-align: middle; }
  .g-login-box .g-login-right .u-login-wrap input:focus {
    outline: 0 none; }

.g-login-box .g-login-right .u-login-wrap input {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s; }
  .g-login-box .g-login-right .u-login-wrap input:focus {
    border-color: #3496ff; }

/* 背景 */
.login-bg {
  background: url("../images/login/login-bg.png") no-repeat center;
  background-size: 100% 100%; }
  .login-bg2 {
    background: url("../images/login/login-bg2.png") no-repeat center;
    background-size: 100% 100%; }

/* 外部链接组件 */
.m-link_menu {
  display: inline-block;
  position: fixed;
  top: 10px;
  right: 10px; }
  .m-link_menu .u-link_btn {
    float: right;
    margin-bottom: 4px;
    cursor: pointer; }
  .m-link_menu .u-minWidth_outbound_link .item a {
    float: left;
    padding: 10px 20px;
    width: 84px;
    color: #a9b6d1;
    background: #556fa0;
    font-size: 12px;
    cursor: pointer; }
    .m-link_menu .u-minWidth_outbound_link .item a:hover {
      background: #6f83ae; }
  .m-link_menu .u-outbound_link {
    width: 136px; }
    .m-link_menu .u-outbound_link .item a {
      float: left;
      padding: 6px 10px;
      text-align: center;
      color: #fff;
      filter: alpha(opacity=50);
      -moz-opacity: 0.5;
      -khtml-opacity: 0.5;
      opacity: 0.5;
      font-size: 12px;
      cursor: pointer; }
      .m-link_menu .u-outbound_link .item a:hover {
        background: #526fa1;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px; }

/* 错误提示 */
.m-topInfor .u-tips {
  position: fixed;
  margin-bottom: 6px;
  font-size: 16px;
  color: #fff;
  height: 64px;
  line-height: 64px;
  z-index: 9999;
  text-align: center;
  left: 50%;
  margin-left: -330px;
  width: 660px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #2673f2;
  background: -moz-linear-gradient(left, #1a7bd5 0%, #10c3e4 100%);
  background: -webkit-linear-gradient(left, #1a7bd5 0%, #10c3e4 100%);
  background: -o-linear-gradient(left, #1a7bd5 0%, #10c3e4 100%);
  background: -ms-linear-gradient(left, #1a7bd5 0%, #10c3e4 100%);
  background: linear-gradient(left, #1a7bd5 0%, #10c3e4 100%); }
  .m-topInfor .u-tips .tips_icon {
    display: inline-block;
    margin-right: 10px;
    margin-top: -4px;
    height: 24px;
    width: 24px;
    background: url(../images/login/login-tip.png) no-repeat center;
    vertical-align: middle; }
.m-topInfor [ng\:cloak],
.m-topInfor [ng-cloak],
.m-topInfor [data-ng-cloak],
.m-topInfor [x-ng-cloak],
.m-topInfor .ng-cloak,
.m-topInfor .tips_show {
  top: 0px;
  transition: top 0.3s linear; }
  .m-topInfor [ng\:cloak].ng-enter,
  .m-topInfor [ng-cloak].ng-enter,
  .m-topInfor [data-ng-cloak].ng-enter,
  .m-topInfor [x-ng-cloak].ng-enter,
  .m-topInfor .ng-cloak.ng-enter,
  .m-topInfor .tips_show.ng-enter {
    top: -64px; }
    .m-topInfor [ng\:cloak].ng-enter.ng-enter-active,
    .m-topInfor [ng-cloak].ng-enter.ng-enter-active,
    .m-topInfor [data-ng-cloak].ng-enter.ng-enter-active,
    .m-topInfor [x-ng-cloak].ng-enter.ng-enter-active,
    .m-topInfor .ng-cloak.ng-enter.ng-enter-active,
    .m-topInfor .tips_show.ng-enter.ng-enter-active {
      top: 0px; }
  .m-topInfor [ng\:cloak].ng-leave,
  .m-topInfor [ng-cloak].ng-leave,
  .m-topInfor [data-ng-cloak].ng-leave,
  .m-topInfor [x-ng-cloak].ng-leave,
  .m-topInfor .ng-cloak.ng-leave,
  .m-topInfor .tips_show.ng-leave {
    top: 0px; }
    .m-topInfor [ng\:cloak].ng-leave.ng-leave-active,
    .m-topInfor [ng-cloak].ng-leave.ng-leave-active,
    .m-topInfor [data-ng-cloak].ng-leave.ng-leave-active,
    .m-topInfor [x-ng-cloak].ng-leave.ng-leave-active,
    .m-topInfor .ng-cloak.ng-leave.ng-leave-active,
    .m-topInfor .tips_show.ng-leave.ng-leave-active {
      top: -64px; }
.m-topInfor [ng\:cloak],
.m-topInfor [ng-cloak],
.m-topInfor [data-ng-cloak],
.m-topInfor [x-ng-cloak],
.m-topInfor .ng-cloak,
.m-topInfor .u-advice_tips {
  position: fixed;
  left: 50%;
  margin-left: -330px;
  margin-bottom: 6px;
  font-size: 16px;
  color: #fff;
  width: 660px;
  height: 64px;
  line-height: 64px;
  z-index: 9998;
  text-align: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #2673f2;
  background: -moz-linear-gradient(left, #1a7bd5 0%, #10c3e4 100%);
  background: -webkit-linear-gradient(left, #1a7bd5 0%, #10c3e4 100%);
  background: -o-linear-gradient(left, #1a7bd5 0%, #10c3e4 100%);
  background: -ms-linear-gradient(left, #1a7bd5 0%, #10c3e4 100%);
  background: linear-gradient(left, #1a7bd5 0%, #10c3e4 100%); }
  .m-topInfor [ng\:cloak] .tips_icon,
  .m-topInfor [ng-cloak] .tips_icon,
  .m-topInfor [data-ng-cloak] .tips_icon,
  .m-topInfor [x-ng-cloak] .tips_icon,
  .m-topInfor .ng-cloak .tips_icon,
  .m-topInfor .u-advice_tips .tips_icon {
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-top: 20px;
    height: 24px;
    width: 24px;
    background: url(../images/login/advice-tips-close.png) no-repeat center;
    vertical-align: middle;
    cursor: pointer; }
.m-topInfor .advice_show {
  top: 0px;
  transition: top 0.3s linear; }
  .m-topInfor .advice_show.ng-enter {
    top: -64px; }
    .m-topInfor .advice_show.ng-enter.ng-enter-active {
      top: 0px; }
  .m-topInfor .advice_show.ng-leave {
    top: 0px; }
    .m-topInfor .advice_show.ng-leave.ng-leave-active {
      top: -64px; }

/* 中间的登录模块 */
.g-login-box {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -203px;
  margin-top: -319px;
  width: 407px;
  padding: 0; }
  .g-login-box .g-login-left {
    float: left; }
  .g-login-box .g-login-right {
    margin: 0 auto;
    float: left;
    height: 533px;
    background: #0a141d;
    width: 407px;
    border: 1px solid #2f3845;
    border-radius: 8px; }
    .g-login-box .g-login-right .m-logo-box {
      position: relative;
      height: 172px;
      margin-bottom: 43px; }
      .g-login-box .g-login-right .m-logo-box img {
        position: absolute;
        top: -33px;
        left: 50%;
        margin-left: -70px; }
    .g-login-box .g-login-right .u-login-wrap {
      width: 318px;
      border-radius: 8px;
      /* height: 50px; */
      margin: 0 auto 20px;
      position: relative; }
      .g-login-box .g-login-right .u-login-wrap.active {
        box-shadow: 0 0 4px #c4141c; }
      .g-login-box .g-login-right .u-login-wrap label {
        position: absolute;
        left: 17px;
        top: 8px;
        width: 20px;
        height: 20px;
        z-index: 9999; }
        .g-login-box .g-login-right .u-login-wrap label .icon-login {
          width: 254px;
          font-size: 22px;
          color: #a0a0a0; }
      .g-login-box .g-login-right .u-login-wrap span {
        position: absolute;
        left: 38px;
        top: 15px;
        width: 10px;
        height: 20px;
        border-right: 1px solid #3d4a54; }
      .g-login-box .g-login-right .u-login-wrap input {
        position: relative;
        border: 1px solid #3d4a54;
        border-radius: 4px;
        width: 258px;
        height: 44px;
        padding: 0 0 0 60px;
        font-size: 14px;
        color: #fff;
        line-height: 1;
        background: #0a141d; }
      .g-login-box .g-login-right .u-login-wrap .input-shadow {
        position: absolute;
        top: -21px;
        left: -15px; }
      .g-login-box .g-login-right .u-login-wrap input:-webkit-autofill,
      .g-login-box .g-login-right .u-login-wrap textarea:-webkit-autofill,
      .g-login-box .g-login-right .u-login-wrap select:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px #0a141d inset;
        background: #0a141d !important;
        text-fill-color: #fff;
        -webkit-text-fill-color: #fff; }
      .g-login-box .g-login-right .u-login-wrap input[type="text"]:focus,
      .g-login-box .g-login-right .u-login-wrap input[type="password"]:focus,
      .g-login-box .g-login-right .u-login-wrap textarea:focus {
        border: 1px solid #93ffff;
        -webkit-box-shadow: 0 0 0 1000px #0a141d inset; }
      .g-login-box .g-login-right .u-login-wrap input[type="text"]:hover,
      .g-login-box .g-login-right .u-login-wrap input[type="password"]:hover,
      .g-login-box .g-login-right .u-login-wrap textarea:hover {
        -webkit-box-shadow: 0 0 0 1000px #0a141d inset; }
      .g-login-box .g-login-right .u-login-wrap input::-webkit-input-placeholder {
        color: #353c43; }
      .g-login-box .g-login-right .u-login-wrap i {
        color: #3d4a54 !important;
        line-height: 29px; }
      .g-login-box .g-login-right .u-login-wrap i.focus {
        color: #12a8c4 !important;
        line-height: 29px; }
      .g-login-box .g-login-right .u-login-wrap a.forget_password {
        float: right;
        margin-right: 8px;
        margin-top: 12px;
        text-decoration: underline;
        color: #353c43 !important;
        text-decoration: none; }
    .g-login-box .g-login-right .u-btn-box {
      margin-top: 72px;
      width: 100%;
      text-align: center; }
      .g-login-box .g-login-right .u-btn-box .btn-login {
        width: 320px;
        height: 50px;
        border: none;
        border-radius: 8px;
        font-size: 18px;
        line-height: 20px;
        padding: 15px 0;
        color: #fff;
        background-color: #2673f2;
        background: -moz-linear-gradient(left, #1a7bd5 0%, #10c3e4 100%);
        background: -webkit-linear-gradient(left, #1a7bd5 0%, #10c3e4 100%);
        background: -o-linear-gradient(left, #1a7bd5 0%, #10c3e4 100%);
        background: -ms-linear-gradient(left, #1a7bd5 0%, #10c3e4 100%);
        background: linear-gradient(left, #1a7bd5 0%, #10c3e4 100%);
        position: relative;
        transition: padding-right 218ms ease;
        outline: none;
        cursor: pointer; }
        .g-login-box .g-login-right .u-btn-box .btn-login .icon-login-arrow {
          position: absolute;
          top: 12px;
          font-size: 26px;
          line-height: 26px;
          margin-left: 8px;
          -webkit-transition: opacity 218ms ease;
          -o-transition: opacity 218ms ease;
          transition: opacity 218ms ease; }
        .g-login-box .g-login-right .u-btn-box .btn-login .icon-login-arrow:before {
          opacity: 0;
          -webkit-transition: opacity 218ms ease;
          -o-transition: opacity 218ms ease;
          transition: opacity 218ms ease; }
        .g-login-box .g-login-right .u-btn-box .btn-login:hover {
          padding-right: 34px;
          background: -moz-linear-gradient(left, #22a1e2 0%, #15d6ec 100%);
          background: -webkit-linear-gradient(left, #22a1e2 0%, #15d6ec 100%);
          background: -o-linear-gradient(left, #22a1e2 0%, #15d6ec 100%);
          background: -ms-linear-gradient(left, #22a1e2 0%, #15d6ec 100%);
          background: linear-gradient(left, #22a1e2 0%, #15d6ec 100%); }
          .g-login-box .g-login-right .u-btn-box .btn-login:hover .icon-login-arrow:before {
            opacity: 1; }

/* 底部文字 */
p.u-declare {
  position: fixed;
  bottom: 22px;
  left: 50%;
  margin-left: -374px;
  color: #fff;
  filter: alpha(opacity=20);
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  opacity: 0.2;
  font-size: 12px;
  letter-spacing: 1px; }

/* 下面是新主题的样式，上面是基础样式 */
.wuyi .login-bg {
  background: url("../images/login/login-bg-wuyi.png") no-repeat center;
  background-size: 100% 100%; }
.wuyi .m-topInfor .u-tips {
  background: url(../images/login/login-tips-wuyi.png) no-repeat center; }
.wuyi .g-login-box .g-login-right {
  border: none;
  background: #fff;
  box-shadow: 0 2px 4px #cec2b3; }
  .wuyi .g-login-box .g-login-right .u-login-wrap span {
    height: 17px;
    z-index: 1;
    border-right: 1px solid #d3d3d3; }
  .wuyi .g-login-box .g-login-right .u-login-wrap input:-webkit-autofill,
  .wuyi .g-login-box .g-login-right .u-login-wrap textarea:-webkit-autofill,
  .wuyi .g-login-box .g-login-right .u-login-wrap select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
    background: #fff !important;
    text-fill-color: #333;
    -webkit-text-fill-color: #333; }
  .wuyi .g-login-box .g-login-right .u-login-wrap input[type="text"]:focus,
  .wuyi .g-login-box .g-login-right .u-login-wrap input[type="password"]:focus,
  .wuyi .g-login-box .g-login-right .u-login-wrap textarea:focus {
    caret-color: #c4141c;
    border: 1px solid #dc7277;
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important; }
  .wuyi .g-login-box .g-login-right .u-login-wrap input[type="text"]:hover,
  .wuyi .g-login-box .g-login-right .u-login-wrap input[type="password"]:hover,
  .wuyi .g-login-box .g-login-right .u-login-wrap textarea:hover {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important; }
  .wuyi .g-login-box .g-login-right .u-login-wrap input::-webkit-input-placeholder {
    color: #d3d3d3; }
  .wuyi .g-login-box .g-login-right .u-login-wrap input {
    width: 256px;
    border-radius: 6px;
    border: 1px solid #b7bfc5;
    background: #fff;
    color: #333; }
  .wuyi .g-login-box .g-login-right .u-login-wrap .input-shadow {
    position: absolute;
    top: -4px;
    left: -4px; }
  .wuyi .g-login-box .g-login-right .u-login-wrap i {
    color: #b7bfc5 !important;
    line-height: 29px; }
  .wuyi .g-login-box .g-login-right .u-login-wrap i.focus {
    color: #c4141c !important;
    line-height: 29px; }
  .wuyi .g-login-box .g-login-right .u-btn-box .btn-login {
    background: #c4141c; }
    .wuyi .g-login-box .g-login-right .u-btn-box .btn-login:hover {
      background: #c4141c; }
      .wuyi .g-login-box .g-login-right .u-btn-box .btn-login:hover .icon-login-arrow:before {
        opacity: 1; }
.wuyi .g-login-box.g-login-rightM {
  background: url("../images/login/login-right") no-repeat center; }
.wuyi p.u-declare {
  color: #f8e9ea;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1; }
.wuyi .u-advice_tips {
  background: url(../images/login/login-tips-wuyi.png) no-repeat center; }

/*母亲节主题样式*/
.mom {
  background: url("../images/login/login-bg2-mom.jpg") no-repeat center; }
  .mom .login-bg {
    background: url("../images/login/login-bg-mom.jpg") no-repeat center;
    background-size: 100% 100%; }
    .mom .login-bg2 {
      background: url("../images/login/login-bg2-mom.jpg") no-repeat center;
      background-size: 100% 100%; }
    .mom .login-bg .m-topInfor .u-tips {
      background: #6e5ce1;
      background: -moz-linear-gradient(left, #6e5ce1 0%, #a560cc 100%);
      background: -webkit-linear-gradient(left, #6e5ce1 0%, #a560cc 100%);
      background: -o-linear-gradient(left, #6e5ce1 0%, #a560cc 100%);
      background: -ms-linear-gradient(left, #6e5ce1 0%, #a560cc 100%);
      background: linear-gradient(left, #6e5ce1 0%, #a560cc 100%); }
    .mom .login-bg .m-topInfor .u-advice_tips {
      background: #6e5ce1;
      background: -moz-linear-gradient(left, #6e5ce1 0%, #a560cc 100%);
      background: -webkit-linear-gradient(left, #6e5ce1 0%, #a560cc 100%);
      background: -o-linear-gradient(left, #6e5ce1 0%, #a560cc 100%);
      background: -ms-linear-gradient(left, #6e5ce1 0%, #a560cc 100%);
      background: linear-gradient(left, #6e5ce1 0%, #a560cc 100%); }
  .mom .g-login-box {
    background: url("../images/login/login-right2.png") no-repeat center; }
    .mom .g-login-box .g-login-right {
      border: none;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); }
      .mom .g-login-box .g-login-right .u-login-wrap span {
        height: 17px;
        z-index: 1;
        border-right: 1px solid #d3d3d3; }
      .mom .g-login-box .g-login-right .u-login-wrap input:-webkit-autofill,
      .mom .g-login-box .g-login-right .u-login-wrap textarea:-webkit-autofill,
      .mom .g-login-box .g-login-right .u-login-wrap select:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
        background: #fff !important;
        text-fill-color: #333;
        -webkit-text-fill-color: #333; }
      .mom .g-login-box .g-login-right .u-login-wrap input[type="text"]:focus,
      .mom .g-login-box .g-login-right .u-login-wrap input[type="password"]:focus,
      .mom .g-login-box .g-login-right .u-login-wrap textarea:focus {
        caret-color: #6e5ce1;
        border: 1px solid #6e5ce1;
        -webkit-box-shadow: 0 0 0 1000px #fff inset !important; }
      .mom .g-login-box .g-login-right .u-login-wrap input[type="text"]:hover,
      .mom .g-login-box .g-login-right .u-login-wrap input[type="password"]:hover,
      .mom .g-login-box .g-login-right .u-login-wrap textarea:hover {
        -webkit-box-shadow: 0 0 0 1000px #fff inset !important; }
      .mom .g-login-box .g-login-right .u-login-wrap input::-webkit-input-placeholder {
        color: #d3d3d3; }
      .mom .g-login-box .g-login-right .u-login-wrap input {
        width: 256px;
        border-radius: 6px;
        border: 1px solid #b2b9b9;
        background: #fff;
        color: #333; }
      .mom .g-login-box .g-login-right .u-login-wrap .input-shadow {
        position: absolute;
        top: -4px;
        left: -4px; }
      .mom .g-login-box .g-login-right .u-login-wrap i {
        color: #878787 !important;
        line-height: 29px; }
      .mom .g-login-box .g-login-right .u-login-wrap i.focus {
        color: #6e5ce1 !important;
        line-height: 29px; }
      .mom .g-login-box .g-login-right .u-login-wrap a.forget_password {
        color: #5342d4 !important; }
      .mom .g-login-box .g-login-right .u-login-wrap.active {
        box-shadow: 0 0 4px #6e5ce1; }
      .mom .g-login-box .g-login-right .u-btn-box .btn-login {
        background: #6e5ce1;
        background: -moz-linear-gradient(left, #6e5ce1 0%, #a560cc 100%);
        background: -webkit-linear-gradient(left, #6e5ce1 0%, #a560cc 100%);
        background: -o-linear-gradient(left, #6e5ce1 0%, #a560cc 100%);
        background: -ms-linear-gradient(left, #6e5ce1 0%, #a560cc 100%);
        background: linear-gradient(left, #6e5ce1 0%, #a560cc 100%); }
        .mom .g-login-box .g-login-right .u-btn-box .btn-login:hover {
          padding-right: 34px;
          background: -moz-linear-gradient(left, #7d69ff 0%, #bb6de8 100%);
          background: -webkit-linear-gradient(left, #7d69ff 0%, #bb6de8 100%);
          background: -o-linear-gradient(left, #7d69ff 0%, #bb6de8 100%);
          background: -ms-linear-gradient(left, #7d69ff 0%, #bb6de8 100%);
          background: linear-gradient(left, #7d69ff 0%, #bb6de8 100%); }
          .mom .g-login-box .g-login-right .u-btn-box .btn-login:hover .icon-login-arrow:before {
            opacity: 1; }
      .mom .g-login-box .g-login-right.g-login-rightM {
        background: url("../images/login/login-right.png") no-repeat center; }
        .mom .g-login-box .g-login-right.g-login-rightM.g-login-rightM2 {
          background: url("../images/login/login-right2.png") no-repeat center; }
  .mom p.u-declare {
    color: #fff;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }

/* 儿童节主题样式 */
.child {
  background: url("../images/login/login-bg2-child.png") no-repeat center; }
  .child .login-bg {
    background: url("../images/login/login-bg2-child.png") no-repeat center;
    background-size: 100% 100%; }
    .child .login-bg2 {
      background: url("../images/login/login-bg2-child.png") no-repeat center;
      background-size: 100% 100%; }
    .child .login-bg .m-topInfor .u-tips {
      background: #5CC161;
      background: -moz-linear-gradient(left, #5CC161 0%, #5CC161 100%);
      background: -webkit-linear-gradient(left, #5CC161 0%, #5CC161 100%);
      background: -o-linear-gradient(left, #5CC161 0%, #5CC161 100%);
      background: -ms-linear-gradient(left, #5CC161 0%, #5CC161 100%);
      background: linear-gradient(left, #5CC161 0%, #5CC161 100%); }
    .child .login-bg .m-topInfor .u-advice_tips {
      background: #5CC161;
      background: -moz-linear-gradient(left, #5CC161 0%, #5CC161 100%);
      background: -webkit-linear-gradient(left, #5CC161 0%, #5CC161 100%);
      background: -o-linear-gradient(left, #5CC161 0%, #5CC161 100%);
      background: -ms-linear-gradient(left, #5CC161 0%, #5CC161 100%);
      background: linear-gradient(left, #5CC161 0%, #5CC161 100%); }
  .child .g-login-box .g-login-right {
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); }
    .child .g-login-box .g-login-right .u-login-wrap span {
      height: 17px;
      z-index: 1;
      border-right: 1px solid #d3d3d3; }
    .child .g-login-box .g-login-right .u-login-wrap input:-webkit-autofill,
    .child .g-login-box .g-login-right .u-login-wrap textarea:-webkit-autofill,
    .child .g-login-box .g-login-right .u-login-wrap select:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
      background: #fff !important;
      text-fill-color: #333;
      -webkit-text-fill-color: #333; }
    .child .g-login-box .g-login-right .u-login-wrap input[type="text"]:focus,
    .child .g-login-box .g-login-right .u-login-wrap input[type="password"]:focus,
    .child .g-login-box .g-login-right .u-login-wrap textarea:focus {
      caret-color: #7dcd81;
      border: 1px solid #7dcd81;
      -webkit-box-shadow: 0 0 0 1000px #fff inset !important; }
    .child .g-login-box .g-login-right .u-login-wrap input[type="text"]:hover,
    .child .g-login-box .g-login-right .u-login-wrap input[type="password"]:hover,
    .child .g-login-box .g-login-right .u-login-wrap textarea:hover {
      -webkit-box-shadow: 0 0 0 1000px #fff inset !important; }
    .child .g-login-box .g-login-right .u-login-wrap input::-webkit-input-placeholder {
      color: #d3d3d3; }
    .child .g-login-box .g-login-right .u-login-wrap input {
      width: 256px;
      border-radius: 6px;
      border: 1px solid #b2b9b9;
      background: #fff;
      color: #333; }
    .child .g-login-box .g-login-right .u-login-wrap .input-shadow {
      position: absolute;
      top: -4px;
      left: -4px; }
    .child .g-login-box .g-login-right .u-login-wrap i {
      color: #878787 !important;
      line-height: 29px; }
    .child .g-login-box .g-login-right .u-login-wrap i.focus {
      color: #aed7b0 !important;
      line-height: 29px; }
    .child .g-login-box .g-login-right .u-login-wrap a.forget_password {
      color: #5cc161 !important; }
    .child .g-login-box .g-login-right .u-login-wrap.active {
      box-shadow: 0 0 4px #5CC161; }
    .child .g-login-box .g-login-right .u-btn-box .btn-login {
      background: #5CC161;
      background: -moz-linear-gradient(left, #5CC161 0%, #5CC161 100%);
      background: -webkit-linear-gradient(left, #5CC161 0%, #5CC161 100%);
      background: -o-linear-gradient(left, #5CC161 0%, #5CC161 100%);
      background: -ms-linear-gradient(left, #5CC161 0%, #5CC161 100%);
      background: linear-gradient(left, #5CC161 0%, #5CC161 100%); }
      .child .g-login-box .g-login-right .u-btn-box .btn-login:hover {
        padding-right: 34px;
        background: -moz-linear-gradient(left, #4a9a4e 0%, #4a9a4e 100%);
        background: -webkit-linear-gradient(left, #4a9a4e 0%, #4a9a4e 100%);
        background: -o-linear-gradient(left, #4a9a4e 0%, #4a9a4e 100%);
        background: -ms-linear-gradient(left, #4a9a4e 0%, #4a9a4e 100%);
        background: linear-gradient(left, #4a9a4e 0%, #4a9a4e 100%); }
        .child .g-login-box .g-login-right .u-btn-box .btn-login:hover .icon-login-arrow:before {
          opacity: 1; }
    .child .g-login-box .g-login-right.g-login-rightM {
      background: #fff; }
      .child .g-login-box .g-login-right.g-login-rightM.g-login-rightM2 {
        background: #fff; }
  .child p.u-declare {
    color: #ccc;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }

.duanwu {
  background: url("../images/login/duanwu-bg.jpg") no-repeat center; }
  .duanwu .bt-img {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
    background: url("../images/login/duanwu-bottom.png") no-repeat 0% 100%;
    background-size: 100% 100%; }
  .duanwu .login-bg {
    background: url("../images/login/duanwu-bg.jpg") no-repeat center;
    background-size: 100% 100%; }
    .duanwu .login-bg2 {
      background: url("../images/login/duanwu-bg.jpg") no-repeat center;
      background-size: 100% 100%; }
    .duanwu .login-bg .m-topInfor .u-tips {
      background: #2fae41;
      background: -moz-linear-gradient(left, #2fae41 0%, #79cd50 100%);
      background: -webkit-linear-gradient(left, #2fae41 0%, #79cd50 100%);
      background: -o-linear-gradient(left, #2fae41 0%, #79cd50 100%);
      background: -ms-linear-gradient(left, #2fae41 0%, #79cd50 100%);
      background: linear-gradient(left, #2fae41 0%, #79cd50 100%); }
    .duanwu .login-bg .m-topInfor .u-advice_tips {
      background: #2fae41;
      background: -moz-linear-gradient(left, #2fae41 0%, #79cd50 100%);
      background: -webkit-linear-gradient(left, #2fae41 0%, #79cd50 100%);
      background: -o-linear-gradient(left, #2fae41 0%, #79cd50 100%);
      background: -ms-linear-gradient(left, #2fae41 0%, #79cd50 100%);
      background: linear-gradient(left, #2fae41 0%, #79cd50 100%); }
  .duanwu .g-login-box {
    background: url("../images/login/login-right-duanwu.png") no-repeat center; }
    .duanwu .g-login-box .g-login-right {
      border: none;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); }
      .duanwu .g-login-box .g-login-right .m-login-input {
        position: relative;
        z-index: 99; }
      .duanwu .g-login-box .g-login-right .u-login-wrap span {
        height: 17px;
        z-index: 1;
        border-right: 1px solid #d3d3d3; }
      .duanwu .g-login-box .g-login-right .u-login-wrap input:-webkit-autofill,
      .duanwu .g-login-box .g-login-right .u-login-wrap textarea:-webkit-autofill,
      .duanwu .g-login-box .g-login-right .u-login-wrap select:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px #f1faff inset !important;
        background-color: #f1faff !important;
        text-fill-color: #333;
        -webkit-text-fill-color: #333; }
      .duanwu .g-login-box .g-login-right .u-login-wrap input[type="text"]:focus,
      .duanwu .g-login-box .g-login-right .u-login-wrap input[type="password"]:focus,
      .duanwu .g-login-box .g-login-right .u-login-wrap textarea:focus {
        caret-color: #2fae41;
        border: 1px solid #2fae41;
        -webkit-box-shadow: 0 0 0 1000px #f1faff inset !important; }
      .duanwu .g-login-box .g-login-right .u-login-wrap input[type="text"]:hover,
      .duanwu .g-login-box .g-login-right .u-login-wrap input[type="password"]:hover,
      .duanwu .g-login-box .g-login-right .u-login-wrap textarea:hover {
        -webkit-box-shadow: 0 0 0 1000px #f1faff inset !important; }
      .duanwu .g-login-box .g-login-right .u-login-wrap input::-webkit-input-placeholder {
        color: #d3d3d3; }
      .duanwu .g-login-box .g-login-right .u-login-wrap input {
        width: 256px;
        border-radius: 6px;
        border: 1px solid #b2b9b9;
        background: #fff;
        color: #333; }
      .duanwu .g-login-box .g-login-right .u-login-wrap .input-shadow {
        position: absolute;
        top: -4px;
        left: -4px; }
      .duanwu .g-login-box .g-login-right .u-login-wrap i {
        color: #878787 !important;
        line-height: 29px; }
      .duanwu .g-login-box .g-login-right .u-login-wrap i.focus {
        color: #2fae41 !important;
        line-height: 29px; }
      .duanwu .g-login-box .g-login-right .u-login-wrap a.forget_password {
        color: #2fae41 !important; }
      .duanwu .g-login-box .g-login-right .u-login-wrap.active {
        box-shadow: 0 0 4px #2fae41; }
      .duanwu .g-login-box .g-login-right .u-btn-box .btn-login {
        background: #2fae41;
        background: -moz-linear-gradient(left, #2fae41 0%, #79cd50 100%);
        background: -webkit-linear-gradient(left, #2fae41 0%, #79cd50 100%);
        background: -o-linear-gradient(left, #2fae41 0%, #79cd50 100%);
        background: -ms-linear-gradient(left, #2fae41 0%, #79cd50 100%);
        background: linear-gradient(left, #2fae41 0%, #79cd50 100%); }
        .duanwu .g-login-box .g-login-right .u-btn-box .btn-login:hover {
          padding-right: 34px; }
          .duanwu .g-login-box .g-login-right .u-btn-box .btn-login:hover .icon-login-arrow:before {
            opacity: 1; }
      .duanwu .g-login-box .g-login-right.g-login-rightM {
        background: inherit; }
        .duanwu .g-login-box .g-login-right.g-login-rightM.g-login-rightM2 {
          background: inherit; }
  .duanwu p.u-declare {
    color: #ccc;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1; }

/*# sourceMappingURL=login.css.map */
